
# Non-commitable artifacts
data/
_ui/dist/
_ui/dist-ssr/
_ui/node_modules/
*~
.DS_STORE
tmp/

# generated code
rpc/count/*.go
_ui/src/codegen/
_ui/dist/

# non-generated ent files
ent/*
!ent/schema/
!ent/migrate/
ent/migrate/*
!ent/migrate/migrations/
!ent/migrate/migrations/*

# Logs
logs
*.log
_ui/pnpm-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
